<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<table>
    <tr><td>Fundo 1</td><td><input type="text"></td></tr>
    <tr><td>Fundo 2</td><td><input type="text"></td></tr>
</table>
<br>
</body>
<% include partials/script %>
<script type="module" src="./js/charts.js"></script>
</html>
